img {
    height: calc(100vh * .35);
    width: 100%;
    object-fit: cover;
}

h2, h1 {
    margin: 0;
}

header:first-child {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    background-color: #1F2C53;
    color: white;
    margin-bottom: 30px;
}

header > nav{
    display: flex;
    align-items: center;
}


header > nav > ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
    color: white;
}

li > a {
    color: white;
    text-decoration: none;

}

header > nav > ul{
    display: flex;
}

.container { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    margin-bottom: 50px;
    padding: 15px 55px;
}

.news{
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

section:nth-child(even){
    background-color: #1F2C53;
    color: white;
}

section:nth-child(even) .news > article a{
    background-color: white;
    color: #1F2C53;
}


section:last-child{
    margin-bottom: 0;
    padding-bottom: 50px;
}

.news > article { 
    width: 30%;
}

.news > article a {
    background-color: #1F2C53;
    border-radius: 8px;
    padding: 5px 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}